@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-background dark:bg-background-dark text-gray-900 dark:text-gray-100;
}

.session-card {
  @apply p-4 rounded-xl shadow-md transition-colors;
}



.sBtn {
  @apply px-3 py-1 rounded text-white;
}
.mBtn {
  @apply px-4 py-2 rounded font-semibold text-white;
}

.hoverUp {
  @apply duration-300 transform hover:-translate-y-0.5;
}
.hoverGray {
  @apply bg-gray-400 hover:bg-gray-500 dark:bg-gray-500 dark:hover:bg-gray-400 transition-all;
}
.hoverGreen {
  @apply bg-green-600 hover:bg-green-500  dark:bg-green-600 dark:hover:bg-green-500 transition-all;
}
.hoverBlue {
  @apply bg-blue-600 hover:bg-blue-500 dark:bg-blue-700 dark:hover:bg-blue-600 transition-all;
}
.hoverRed {
  @apply bg-red-600 hover:bg-red-500 transition-all;
}

